.top-sale-products-img {
	width: 100px;
	height: 100px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.top-sale-products-name {
    margin: 2px;
    width: 130px;
}

.icon-yellow {
    color:#ffd300;
}