.pt-6 {
    padding-top: 60px;
}

.text-shop-h1 {
    text-align: center;
    position: relative;
    top: -250px;
    color: white;
    font-size: 75px;
}

.text-shop-h6 {
    text-align: center;
    position: relative;
    top: -250px;
    color: #f195b2;
}

.price-rounded {
    margin: 0px auto;
    padding: 25px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    top: -65px;
    background-color: white;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
}